Source: pic32prog
Section: programmers
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: pic32prog
Section: programmers
Architecture: all
XBSC-Group: PIC32
Description: PIC32Prog
 This is the default programmer for chipKIT boards with bootloaders installed.



