#!/usr/bin/make -f
SRCTOP    := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
DESTDIR    = $(SRCTOP)/debian/pic32prog


DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p' | cut -f1 -d'r')
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/^[[:digit:]]*://' -e 's/[~-].*//')

DOWNLOADS = ../../downloads



%:
	dh $@

override_dh_auto_clean:
	rm -rf pic32prog

override_dh_auto_build:
	wget -c -O ${DOWNLOADS}/pic32prog-debian-32-${VERSION}.tar.gz https://github.com/majenkotech/pic32prog-autotools/releases/download/${VERSION}/pic32prog-debian-32-${VERSION}.tar.gz
	wget -c -O ${DOWNLOADS}/pic32prog-debian-64-${VERSION}.tar.gz https://github.com/majenkotech/pic32prog-autotools/releases/download/${VERSION}/pic32prog-debian-64-${VERSION}.tar.gz
	wget -c -O ${DOWNLOADS}/pic32prog-debian-armhf-${VERSION}.tar.gz https://github.com/majenkotech/pic32prog-autotools/releases/download/${VERSION}/pic32prog-debian-armhf-${VERSION}.tar.gz
	wget -c -O ${DOWNLOADS}/pic32prog-osx-fat-${VERSION}.tar.gz https://github.com/majenkotech/pic32prog-autotools/releases/download/${VERSION}/pic32prog-osx-fat-${VERSION}.tar.gz
	wget -c -O ${DOWNLOADS}/pic32prog-win32-${VERSION}.tar.gz https://github.com/majenkotech/pic32prog-autotools/releases/download/${VERSION}/pic32prog-win32-${VERSION}.tar.gz



override_dh_auto_install:
	rm -rf pic32prog
	mkdir -p ${DESTDIR}/programmers/pic32prog/linux32
	tar -zxvf ${DOWNLOADS}/pic32prog-debian-32-${VERSION}.tar.gz
	cp pic32prog/* ${DESTDIR}/programmers/pic32prog/linux32/
	chmod 755 ${DESTDIR}/programmers/pic32prog/linux32/*
	rm -rf pic32prog
	mkdir -p ${DESTDIR}/programmers/pic32prog/linux64
	tar -zxvf ${DOWNLOADS}/pic32prog-debian-64-${VERSION}.tar.gz
	cp pic32prog/* ${DESTDIR}/programmers/pic32prog/linux64/
	chmod 755 ${DESTDIR}/programmers/pic32prog/linux64/*
	rm -rf pic32prog
	mkdir -p ${DESTDIR}/programmers/pic32prog/linux_arm
	tar -zxvf ${DOWNLOADS}/pic32prog-debian-armhf-${VERSION}.tar.gz
	cp pic32prog/* ${DESTDIR}/programmers/pic32prog/linux_arm/
	chmod 755 ${DESTDIR}/programmers/pic32prog/linux_arm/*
	rm -rf pic32prog
	mkdir -p ${DESTDIR}/programmers/pic32prog/macosx
	tar -zxvf ${DOWNLOADS}/pic32prog-osx-fat-${VERSION}.tar.gz
	cp pic32prog/* ${DESTDIR}/programmers/pic32prog/macosx/
	chmod 755 ${DESTDIR}/programmers/pic32prog/macosx/*
	rm -rf pic32prog
	mkdir -p ${DESTDIR}/programmers/pic32prog/windows
	tar -zxvf ${DOWNLOADS}/pic32prog-win32-${VERSION}.tar.gz
	cp pic32prog/* ${DESTDIR}/programmers/pic32prog/windows/
	cp dll/* ${DESTDIR}/programmers/pic32prog/windows/
	chmod 755 ${DESTDIR}/programmers/pic32prog/windows/*
	cp debian/programmer.txt ${DESTDIR}/programmers/pic32prog/





#	cp pic32prog-autotools-master/bin/pic32prog-debian-32 ${DESTDIR}/programmers/pic32prog/linux32/pic32prog
#	cp pic32prog-autotools-master/bin/pic32prog-debian-64 ${DESTDIR}/programmers/pic32prog/linux64/pic32prog
#	cp pic32prog-autotools-master/bin/pic32prog-debian-armhf ${DESTDIR}/programmers/pic32prog/linux_arm/pic32prog
#	cp pic32prog-autotools-master/bin/pic32prog-win32.exe ${DESTDIR}/programmers/pic32prog/windows/pic32prog.exe
#	cp dll/libusb0.dll ${DESTDIR}/programmers/pic32prog/windows/libusb0.dll
#	cp pic32prog-autotools-master/bin/pic32prog-osx-fat ${DESTDIR}/programmers/pic32prog/macosx/pic32prog
#	cp debian/programmer.txt ${DESTDIR}/programmers/pic32prog/programmer.txt
